@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing:antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./assets/backgroundimage.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}

span.Resizer.vertical{
  cursor: col-resize;
  width: 20px;
  background-color: black;
}